body {
  /* Internal links are not underlined */
  --link-decoration: none;

  /* On GNOME, with 'Window frame style' set to 'Native frame'
   * the titlebar blends with the tab bar */
  &.theme-dark.mod-linux {
    --titlebar-background: #222226 !important;
    --titlebar-background-focused: #2E2E32 !important;
  }

  &.theme-light.mod-linux {
    --titlebar-background: #FAFAFB !important;
    --titlebar-background-focused: #EBEBED !important;
  }
}

mjx-container {
  font-size: var(--font-ui-large);
}

/* Use monospace font in source mode */
.markdown-source-view.cm-s-obsidian:not(.is-live-preview) .cm-scroller,
.is-live-preview .cm-tag {
  font-family: var(--font-monospace);
  font-size: var(--code-size);
}

.HyperMD-table-row {
  font-size: var(--font-normal) !important;
}

/* Syntax highlighting for YAML and MathJax */
.cm-hmd-frontmatter,
.cm-math {
  /* no italics */
  font-style: normal !important;
  font-size: var(--font-normal);
}

.cm-math,
.cm-error.cm-math {
  color: var(--code-operator) !important;
  border: none !important;
}

.cm-math.cm-tag,
.cm-atom.cm-hmd-frontmatter {
  color: var(--code-important) !important;
}

.cm-hmd-frontmatter.cm-string,
.cm-math.cm-variable-2 {
  color: var(--code-string) !important;
}

.cm-number,
.cm-hmd-frontmatter {
  color: var(--code-value) !important;
}

.cm-hmd-frontmatter.cm-hmd-frontmatter.cm-def,
.cm-bracket.cm-tag,
.cm-bracket,
.cm-s-obsidian span.cm-formatting-math,
.cm-hmd-frontmatter.cm-meta {
  color: var(--code-punctuation) !important;
}