.article {
  @media (min-width: 1100px) {

    /* Reduce the readeble line lenght on full-screen */
    .markdown-reading-view & {
      max-width: 65% !important;
      margin: auto;
    }
  }

  /* Center headings */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;

  }

  mjx-container {
    /* normal size */
    font-size: 1.2em;
  }

  p {
    text-align: justify;
  }

  .markdown-reading-view & {
    /* Specify your favorite font */
    font-family: "Source Serif Pro", serif;
  }
}
