/* Callout types and icons are defined in CSS, where the color is an r, g, b tuple
and the icon is the icon ID from any internally supported icon (like lucide-info). 
Alternatively, you can specify an SVG icon as a string.
.callout[data-callout="my-callout-type"] {
  --callout-color: 0, 0, 0;
  --callout-icon: icon-id;
  --callout-icon: '<svg>...custom svg...</svg>';
}
source: https://help.obsidian.md/How+to/Use+callouts#Customizations
*/

.callout[data-callout="eg"] {
  --callout-icon: lucide-list-minus;
  --callout-color: var(--callout-example);
}

/* Properly place the icon */
div.callout-icon {
  margin: auto 0.3rem auto 0;
}
