/* DROP CAPS */
/* Inspired by: https://www.gwern.net/Design#principles */

.dcaps .markdown-preview-sizer *:not(:has(>p))+div>p:first-of-type::first-letter {
  float: inline-start;

  /* A fancy font for the initial is required */
  font-family: "Acorn Initials", serif;

  /* These may need to get adjusted with different fonts */
  font-size: calc(var(--font-text-size) * 5);
  line-height: 0.9em;
  margin-right: 0.1em;
}
