/* DROP CAPS */
/* Inspired by: https://www.gwern.net/Design#principles */

/* We assume that the first paragraph is inside the sixth div in the page.*/
.dcaps .markdown-preview-sizer div:nth-of-type(6) > p::first-letter {
  float: inline-start;

  /* A fancy font for the initial is required */
  font-family: "Acorn Initials", serif;

  /* These may need to get adjusted with different fonts */
  font-size: calc(var(--font-text-size) * 5);
  line-height: 0.9em;
  margin-right: 0.1em;
}
