/* DROP CAPS */
/* Inspired by: https://www.gwern.net/Design#principles */

.dcaps {
    color: var(--fg);
    float: inline-start; /* With this the initial is applied only to the */
                         /* first line of the paragraph */
    font-family: "Acorn Initials"; /* Fancy font for the initials */
    font-size: 5em; /* The actual size of the initial */
    line-height: 1em; /* The height of the whole line to which it's applied */
}

.dcaps:hover {
    color: var(--gray);
    transition: color 0.2s ease-in-out;
}
