/* Gruvbox color scheme
 * https://github.com/morhetz/gruvbox#palette */

/* Overwire the color palette */

.theme-dark {
  --color-base-00: #282828;
  --color-base-05: #32302f;
  --color-base-10: #32302f;
  --color-base-20: #3c3836;
  --color-base-25: #504945;
  --color-base-30: #665c54;
  --color-base-35: #7c6f64;
  --color-base-40: #a89984;
  --color-base-50: #bdae93;
  --color-base-60: #d5c4a1;
  --color-base-70: #ebdbb2;
  --color-base-100: #fbf1c7;

  --accent-h: 27;
  --accent-s: 99%;
  --accent-l: 55%;

  --color-red: #fb4934;
  --color-red-rgb: 251, 73, 52;
  --color-orange: #fe8019;
  --color-orange-rgb: 254, 128, 25;
  --color-yellow: #fabd2f;
  --color-yellow-rgb: 250, 189, 47;
  --color-green: #b8bb26;
  --color-green-rgb: 184, 187, 38;
  --color-cyan: #8ec07c;
  --color-cyan-rgb: 142, 192, 124;
  --color-blue: #83a598;
  --color-blue-rgb: 131, 165, 152;
  --color-purple: #d3869b;
  --color-purple-rgb: 211, 134, 155;
  --color-pink: var(--color-purple);
  --color-pink-rgb: var(--color-purple-rgb);
}

.theme-light {
  --color-base-00: #f9f5d7;
  --color-base-05: #fbf1c7;
  --color-base-10: #f2e5bc;
  --color-base-20: #ebdbb2;
  --color-base-25: #d5c4a1;
  --color-base-30: #bdae93;
  --color-base-35: #a89984;
  --color-base-40: #7c6f64;
  --color-base-50: #665c54;
  --color-base-60: #504945;
  --color-base-70: #3c3836;
  --color-base-100: #282828;

  --accent-h: 24;
  --accent-s: 88%;
  --accent-l: 45%;

  --color-red: #9d0006;
  --color-red-rgb: 157, 0, 6;
  --color-orange: #af3a03;
  --color-orange-rgb: 175, 58, 3;
  --color-yellow: #b57614;
  --color-yellow-rgb: 181, 118, 20;
  --color-green: #79740e;
  --color-green-rgb: 121, 116, 14;
  --color-cyan: #427b58;
  --color-cyan-rgb: 66, 123, 88;
  --color-blue: #076678;
  --color-blue-rgb: 7, 102, 120;
  --color-purple: #8f3f71;
  --color-purple-rgb: 143, 63, 113;
  --color-pink: var(--color-purple);
  --color-pink-rgb: var(--color-purple-rgb);
}
