/* Turn off all transitions */
* {
  transition: none !important;
}

/* Turn off cursor blink */
.cm-cursor, .cm-cursorLayer {
  animation: none !important;
}

/* https://github.com/kepano/obsidian-hider */
/* Scrollbars only show on hover */
::-webkit-scrollbar {
  visibility: hidden;

  &:hover {
    visibility: initial;
  }
}

::-webkit-scrollbar-thumb {
  visibility: hidden;

  &:hover {
    visibility: initial;
  }
}

::-webkit-scrollbar-thumb:hover {
  visibility: initial;
}

/* Vault name in the file navigator */
.nav-folder.mod-root>.nav-folder-title .nav-folder-title-content {
  display: none;
}

/* Suggestions, instructions and tooltips */
.suggestion-container.mod-search-suggestion {
  display: none;
}

/*
.prompt-instructions {
  display: none;
}

.tooltip {
  display: none;
}
*/

/* Options when no file is open */
.empty-state-action-list {
  display: none;
}
