body:not(.zoom-off) .view-content img {
  cursor: default;
}

.markdown-preview-view img, .markdown-source-view img {
  opacity: 1 !important;
  border-radius: 5px;
}

.markdown-preview-view img[src]:hover {
  box-shadow: 0px 3px 3.1px -15px rgba(0, 0, 0, 1), 0px 24px 25px -10px rgba(0, 0, 0, 0.2);
  transform: translate3d(3px, -5px, 0);
  transition: 250ms cubic-bezier(0.65, 0.05, 0.36, 1);
}

.view-content .markdown-preview-view img[referrerpolicy='no-referrer']:active,
.view-content .image-embed:active {
  background:var(--background-primary);
  display:block;
  z-index:200;
  position:fixed;
  max-height:100%;
  max-width:100%;
  height:100%;
  width:100%;
  object-fit:contain;
  margin:0 auto;
  text-align:center;
  padding:0;
  left:0;
  right:0;
  bottom:0;
  transition: width 0.2s ease-in-out;
  transition: height 0.2s ease-in-out;
  transition: max-width 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
}
.view-content .image-embed:active img {
  top:50%;
  transition: width 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out;
  padding:0;
  margin:0 auto;
  width:100%;
  max-height:100vh;
  object-fit:contain;
  bottom:0;
  position:absolute;
}

/* ALIGNMENT */
/* https://github.com/deathau/obsidian-snippets/blob/main/center-images.css */
/* Syntax: ![[image.png|center|500]] */

img[alt*="left"] {
  float:left;
  clear:left;
  margin-right: 2rem;
  margin-bottom: 4px;
  margin-top: 4px;
}

img[alt*="right"] {
  float:right;
  clear:right;
  margin-right: 2rem;
  margin-bottom: 4px;
  margin-top: 4px;
}

img[alt*="center"] {
  display: block;
  margin: 0px auto;
}
