@keyframes indent {
  from {
    transform: translateX(-30px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes outdent {
  from {
    transform: translateX(30px);
  }
  to {
    transform: translateX(0);
  }
}

.cm-widgetBuffer + .cm-header {
  animation: outdent 250ms;
  display: inline-block;
  animation-timing-function: ease-out;
}
.cm-active .cm-header + .cm-header {
  animation: indent 250ms;
  display: inline-block;
  animation-timing-function: ease-out; 
}
